body {
  margin: 25px;
}

#main {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

video {
  width: auto;
  height: auto;
  transform: scaleX(-1);
}
